<section *ngIf="products.length>0">
    <h2 class="text-center">All products</h2>
    <div class="row g-4 py-3 justify-content-center">
        <div *ngFor="let product of products  | paginate: { id: 'productPaginate',
        itemsPerPage: pageSize,
        currentPage: curentPage,
        totalItems: total } "
        class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product h-100 ">
                <header role="button" [routerLink]="['/productdetails',product._id]">
                    <img class="w-100"
                    [src]="product.imageCover"
                    [alt]="product.title" 
                    [title]="product.title">
                <h3 class="h6">{{product.title |cuttext:3}}</h3> 
                <h4 class="h6 text-main">{{product.category.name}}</h4>  
                <div class="d-flex align-items-center justify-content-between small">
                    <span>{{product.price |currency : 'EGP'}}</span>
                    <span class="tex-muted">
                        <i class="fas fa-star rating-color"></i>
                        {{product.ratingsAverage}}
                    </span>
                </div>
                </header>
                <footer>
                    <button (click)="addToCart(product._id,btnadd)"  #btnadd class="main-btn w-100">Add To Cart</button>
                </footer>

            </div>
        </div>
    </div>
    <div class=" d-flex justify-content-center py-3 ">

        <pagination-controls  id="productPaginate"
                        (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)"
                        [maxSize]="9"
                        [directionLinks]="true"
                        [autoHide]="true"
                        [responsive]="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>


    
</section>

