<section class="w-75 bg-main-light shadow rounded p-3 mb-3" 
*ngIf="cartDetails;else msg ">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="h2">shop cart</h1>
        <button class="btn btn-sm btn-outline-danger" (click)="clearCart()">clear cart</button>
    </div>
    <p class="text-main">
        Total Price:{{cartDetails.totalCartPrice |currency: "EGP"}}
    </p>
    <div class="row" *ngFor="let item of cartDetails.products">
        <div class="col-md-1">
            <img class="w-100" 
            [src]="item.product.imageCover" 
            [alt]="item.product.title">
        </div>
        <div class="col-md-11 d-flex justify-content-between align-items-center">
            <div>
                <h3 class="h5">{{item.product.title}}</h3>
                <p class="text-main">Price:{{item.price |currency : 'EGP'}}</p>
                <button #btnRemove 
                (click)="removeItem(item.product._id,btnRemove)" 
                class="btn m-0 p-0 text-main">
                    <i class="fas fa-trash-can"></i>Remove</button>
            </div>
            <div>
                <button #btn1 (click)="changeCount(item.count-1,item.product._id,btn1,btn2)"
                class="btn btn-sm border-success">-</button>
                <span>{{item.count}}</span>
                <button #btn2 (click)="changeCount(item.count-1,item.product._id,btn1,btn2)"
                class="btn btn-sm border-success">+</button>
            </div>
        </div>
    </div>
    <button class="main-btn mt-3" [routerLink]='["/payment",cartDetails._id]'>online payment
        <img src="../../../assets/images/visa-svgrepo-com (1).svg" alt="visa">
    </button>
</section>
<ng-template #msg>
    <h2 class="text-center"> Your Cart is Empety....</h2>
</ng-template>