<footer class="bg-main-light py-4 ">
    <div class="container">
        <h2>Get the FreshCart App </h2>
        <p class="text-muted">We Will Send You alink , Open it in Your Phone to download the App </p>
        <div class="d-flex gap-2">
            <input type="email" placeholder="Email...." class="form-control">
            <button class="main-btn flex-shrink-0">Share App Link</button>
        </div>
        <hr>
        <h3 class="h6 text-center">&copy; 2023 Samar Atef all copy reserved</h3>
    </div>
</footer>
