<section *ngIf="step1" [formGroup]="forgotForm" (ngSubmit)="forgotpassword()"
 class="w-50 bg-main-light shadow rounded p-3 mx-auto">
    <form >
        <label for="email">email</label>
        <input type="email" id="email" class="form-control">
        <button class="main-btn w-100 mt-3">forgot password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 text-center mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>
<section *ngIf="step2" [formGroup]="resetCodForm" (ngSubmit)="resetCode()"
 class="w-50 bg-main-light shadow rounded p-3 mx-auto">
    <form >
        <label for="resetCode">Reset Code</label>
        <input type="text" id="resetCode" class="form-control">
        <button class="main-btn w-100 mt-3">Reset Code</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 text-center mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>
<section *ngIf="step3" [formGroup]="resetPassword" (ngSubmit)="newPassword()"
 class="w-50 bg-main-light shadow rounded p-3 mx-auto">
    <form >
        <label for="newPassword">Reset Password</label>
        <input type="text" id="newPassword" class="form-control">
        <button class="main-btn w-100 mt-3">Reset Password</button>
        <p *ngIf="userMsg" class="alert alert-danger w-75 text-center mx-auto p-1 mb-0">{{userMsg}}</p>
    </form>
</section>
