<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3">
    <h1> Check Out Session</h1>
    <form [formGroup]="orderForm" (ngSubmit)="handleForm()">
        <div class="form-item">
            <label for="details">Details</label>
            <input class="form-control" type="text" formControlName="details" id="details">
        </div>
        <div class="form-item">
            <label for="phone">phone</label>
            <input class="form-control" type="tel" formControlName="phone" id="phone">
        </div>
        <div class="form-item">
            <label for="city">city</label>
            <input class="form-control" type="text" formControlName="city" id="city">
        </div>

        <button class="main-btn">Check Out</button>

    </form>
</section>
